@charset"utf-8";
html,
body,
.main {
  background: url("https://github.com/Uprprc-Irisu/Uprprc-Irisu.github.io/blob/main/01.png");
   background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
